**/.ipynb_checkpoints/
**/.virtual_documents/
**/.vscode/
**/cuda_sdk_lib/
**/outputs/
**/data/
**/models/
**/images/
**/__pycache__/
.env
data
templates/*pages
templates/metadata.json
templates/template_data/
templates/template_examples/
templates/comparing.json
templates/script_output.log
notebooks/output.log
templates/*.json